::ng-deep .popover {
    max-width: 350px;

    pre {
        white-space: pre-wrap;
    }
}

pre {
    white-space: pre-wrap;
}

.result {
    cursor: pointer;
}

.btn .spinner-border-sm {
    width: 0.8rem;
    height: 0.8rem;
}
